@import url('https://fonts.googleapis.com/css?family=Press+Start+2P');

body {
	background-image: url('vaporwave-optimized.gif');
	background-color: rgba(180,99,222,0.6);
	background-size: cover;
	color: rgb(218,218,218);
}

.container {
	padding-top: 10%;
	padding-left: 17%;
}

.welcome-text {
	font-size: 37px;
	font-family: 'Press Start 2P';
	letter-spacing: 1em;
}

.play-music {
	font-size: 42px;
	font-family: 'Press Start 2P';
	position: relative;
	left: 35%;
}

a:link {
	color: inherit;
	text-decoration: none;
}

a:visited {
	color: inherit;
}